# Secure the .htaccess file itself
<files .htaccess>
    order allow,deny
    deny from all
</files>

# Protect the wp-config.php file
<files wp-config.php>
    order allow,deny
    deny from all
</files>

# Disable directory browsing
Options -Indexes

# Block access to wp-includes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^wp-admin/includes/ - [F,L]
    RewriteRule !^wp-includes/ - [S=3]
    RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
    RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

# Don't copy this block when using Multisite
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
</IfModule>

# Protect against XML-RPC attacks
<files xmlrpc.php>
    order allow,deny
    deny from all
</files>

# Block access to sensitive files and directories
<filesmatch "^\.git|^\.svn|^\.vscode|^sftp\.json|^sftp-config\.json|^sftp-settings\.json|^\.bashrc|^\.htpasswd">
    order allow,deny
    deny from all
</filesmatch>
